/* Personalized fonts */

@font-face
{
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot') format('embedded-opentype'),
         url('fonts/Raleway-Regular.woff') format('woff'),
         url('fonts/Raleway-Regular.ttf') format('truetype'),
         url('fonts/Raleway-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;     
}

/* General elements of the page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
}

.wrapper
{
    width: 1500px;
    margin: auto;
}

i
{
    color: #0065FC;
    font-size: 0.8em;
}
/* General elements of the page - specific icon colors*/

.black

{
    color: black;
}

.grey

{
   color: #535353c5;
}

/* Header */

header .wrapper
{
 width: 1400px;

}

header
{
    height: 375px;
}

/* Header  - Logo and Nav */

#navigation
{
    display: flex;
    justify-content: space-between;
}

#navigation nav
{
    height: 50px;
    width: 400px;
}

#navigation ul
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    height: 50px;
    width: 400px;
    text-align: end;
    font-size: 1em;
    font-weight: 400;
}

#navigation li
{
   display: block;
   padding-top: 30px;
}

#navigation li a
{
    text-decoration: none;
    color: #0065FC;
}

#navigation li:hover
{
    border-top: solid 1px #0065FC;
}

#navigation a:visited
{
    
}

/* Header  - Title and search */

h1
{
    font-size: 1.5em;
    margin-block-end: 0.30em;
}

#search
{
    height: 140px;
    margin-bottom: 20px;
}

#search p
{
    margin-block-start: 0em;
    font-size: 1.050em;
}

/* Header  - Title and search - search button */

#searchbouton
{
    display: flex;
    height: 47px;
    margin-top: 20px;
}

.location 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 47px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin: 0px;
}

i.fas.fa-map-marker-alt.black
{
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.search_input
{
    display: block;
    height: 47px;
    width: 242px;
    border-color: #F2F2F2;
    border-style: solid;
    border-left: none;
    border-right: none;
    margin: 0px;
    font: bold 1em "Raleway";
    outline-style: none;
    text-indent: 20px;
    padding: 0px;
}

.search_input:focus
{
    border: black solid 1px;
    border-right: none;
}

.submit
{
    display: block;
    background-color: #0065FC;
    border: none;
    height: 47px;
    width: 150px;
    color: white;
    border-radius: 0px 15px 15px 0px;
    align-items: flex-start;
    margin: 0px;
    font-size: 1.050em;
    cursor: pointer;
    outline: none;
}

/* Header  - Filters */

#filters form
{
    display: flex;
    justify-content: space-between;
    width: 1025px;
    font-size: 1.2em;
}

.filters_block
{
  height: 50px;
  text-align: center;
  display: flex;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #F2F2F2;
  border-left: none;
}

.filters_block:hover
{
    background-color: rgb(246, 249, 255);
}

.economique
{
    width: 205px; 
}

.familial
{
    width: 160px;
}

.romantique
{
    width: 205px;
}

.animaux
{
    width: 250px;
}

.filters_icons
{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(222,236,255) ;
    border-radius: 50%;
}

.icons_filters
{
    font-size: 1em;
}

.filters_text
{
    height: 50px;
    width: 160px;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.economique_text
{
    width: 155px;
}

.familial_text
{
    width: 110px;
}

.romantique_text
{
    width: 155px;
}

.animaux_text
{
    width: 200px;
}

.cheked_box
{
    
}

#filters form input[type=checkbox]
{
   display: none;
   height: 50px;
}


input[type=checkbox]:checked + .cheked_box
{
    background-color: rgb(222,236,255);
    color: black;
}

/* Header  - Filters - Information paragraph*/

#information_paragraph
{
    font-size: 1.1em;
    display: flex;
    margin-top: 25px;
}

.information
{
  width: 30px;
  height: 30px;
  border: 2px solid #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#information_paragraph p
{
  margin: 6.5px;
}

/* Main */

main
{
    width: 1400px;
    margin: auto;
}


/* Main - Section 1 */

#accomodation_section
{
    width: 1400px;
    height: 715px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#accomodation_section article img
{
    height: 50%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

/* Main - Section 1 - Article */

#accomodation_section article
{
    width: 970px;
    height: 715px;
    background-color: #F2F2F2;
    border-radius: 25px;
}



#accomodation_section .title_accomodation

{
    width: 900px;
    height: 65px;
    margin-left: 35px;
}

#accomodation_blocks
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    height: 550px;
}

#accomodation_blocks a
{
    text-decoration: none;
    color: black;
    height: 260px;
}

.accomodation_block
{
  background-color: white;  
  width: 267px;
  height: 235px;
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
  font-size: 0.8em;
}

.accomodation_block h3
{
    font-size: 1.1em;
    font-weight: bold;

}

#accomodation_footer

{
    width: 180px;
    height: 50px;
}

#accomodation_footer p

{
    margin-left: 37px;
    width: 100px;
}



#accomodation_footer a

{
 
    margin: 0;
    width: 100px;
    text-decoration: none;
    color: black;
}


/* Main - Section 1 - Aside */

#accomodation_section aside
{
    width: 360px;
    height: 715px;
    background-color: #F2F2F2;
    border-radius: 25px;
    font-size: 0.8em;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#accomodation_section aside img
{
    height: 100%;
    width: 100%;
    border-radius: 25px 0px 0px 25px;
    object-fit: cover;
}

#accomodation_section aside a
{
    text-decoration: none;
    color: black;
}

/* Main - Section 1 - Aside - Header */

#accomodation_section aside header
{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 25px;
}

#accomodation_section aside h2
{
    margin-block-start: 8px;
    margin-block-end: 0em;
    margin-left: 8px;
}

#accomodation_section aside header i
{
    font-size: 1.5em;
    margin-top: 8px;
    margin-left: 5px;
}

/* Main - Section 1 - Aside - Blocks */

.popularaccomodation_block
{
    width: 350px;
    height: 165px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    text-align: justify;
}

.aside_figure
{
    margin: 6px;
    width: 115px;
}

.popularaccomodation_text_block
{
    width: 130px;
}

/* Main - Section 2 */

#activities_section
{
    width: 1400px;
    height: 600px;
}

.photo_big
{
    height: 450px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#photo_small_1
{
    height: 220px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#photo_small_2
{
    height: 140px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#photo_small_3
{
    height: 80%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#photo_small_4
{
    height: 180px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#activities_section h3
{
    font-size: 0.9em;
    font-weight: bold;
}

/* Main - Section 2 - Header */

#activities_section header
{
    height: 40px;
}

/* Main - Section 2 - Blocks */

#activities_blocks 
{
 width: 1400px;
 height: 500px;
 display: flex;
 justify-content: space-between;
}

#activities_blocks h3
{
    padding-left: 25px;
}

#activities_blocks a
{
    text-decoration: none;
    color: black;
}
/* Main - Section 2 - Types of Blocks */

.activity_block
{
    width: 320px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 6px 6px 16px #F2F2F2;
}

.activity_block_2_activities
{
    width: 320px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Main - Section 2 - Divs inside Block 2 Type */

#activity_fort
{
    height: 270px;
    border-radius: 25px;
    box-shadow: 6px 6px 16px #F2F2F2;
}

#activity_iles
{
    border-radius: 25px;
    height: 190px;
    box-shadow: 6px 6px 16px #F2F2F2;
}

.activity_mini_block

{
    height: 230px;
    border-radius: 25px;
    box-shadow: 6px 6px 16px #F2F2F2;
}

/* Footer */

footer
{
    background-color: #F2F2F2 ;
}

footer .wrapper
{
    
    width: 1500px;

}

footer #footer_body
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    height: 140px;
    width: 1150px;
    padding-top: 30px;
    padding-left: 40px;
}

footer h2
{
    font-size: 1em;
}

footer ul
{
    list-style-type: none;  
    padding-inline-start: 0px;
}

footer ul li

{
    display: block;
    margin-bottom: 10px;
}

footer a
{
    text-decoration: none;
    color: black;
}