/* Personalized fonts */

@font-face
{
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot') format('embedded-opentype'),
         url('fonts/Raleway-Regular.woff') format('woff'),
         url('fonts/Raleway-Regular.ttf') format('truetype'),
         url('fonts/Raleway-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;     
}

/* General elements of the page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
}

#page_block
{
    width: 1500px;
    margin: auto;
}

/* Header */

header
{
  width: 1400px;  
  margin: auto;
}

/* Header  - Logo and Nav */

#navigation
{
    display: flex;
    justify-content: space-between;
}

#navigation nav
{
    height: 50px;
    width: 400px;
}

#navigation ul
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    height: 50px;
    width: 400px;
    text-align: end;
    font-size: 1em;
    font-weight: 400;
}

#navigation li
{
   display: block;
   padding-top: 30px;
}

#navigation li a
{
    text-decoration: none;
    color: #0065FC;
}

#navigation li:hover
{
    border-top: solid 1px #0065FC;
}

#navigation a:visited
{
    
}

/* Header  - Logo and Nav */

h1
{
    font-size: 1.5em;
}

/* Header  - Filters */

#filters form
{
    display: flex;
}

/* Main */

main
{
    width: 1400px;
    margin: auto;
}

/* Main - Section 1 */

#accomodation_section
{
    width: 1400px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

#accomodation_section article img
{
    height: 50%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

/* Main - Section 1 - Article */

#accomodation_section article
{
    width: 1000px;
    height: 600px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

#accomodation_section header

{
    width: 900px;
}

#accomodation_blocks
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}

#accomodation_block
{
  background-color: white;  
  width: 280px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  font-size: 0.8em;
}

#accomodation_block h3
{
    font-size: 1.1em;
    font-weight: bold;

}

#accomodation_section footer

{
    width: 900px;
}

/* Main - Section 1 - Aside */

#accomodation_section aside
{
    width: 330px;
    height: 600px;
    background-color: #F2F2F2;
    border-radius: 25px;
    font-size: 0.8em;
    padding-left: 20px;
    padding-right: 20px;
}

#accomodation_section aside img
{
    height: 25%;
    width: 25%;
}

#accomodation_section aside header
{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

/* Main - Section 2 */

#activities_section
{
    width: 1400px;
    height: 600px;
}

#photo_big
{
    height: 450px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#photo_small_1
{
    height: 220px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#photo_small_2
{
    height: 140px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#photo_small_3
{
    height: 80%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#photo_small_4
{
    height: 180px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

#activities_section h3
{
    font-size: 0.9em;
    font-weight: bold;
}

#activities_blocks 
{
 width: 1400px;
 height: 500px;
 display: flex;
 justify-content: space-between;
}

#activity_block
{
    width: 320px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 6px 6px 16px #F2F2F2;
}

#activity_block_2_activities
{
    width: 320px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activity_fort
{
    height: 270px;
    border-radius: 25px;
    box-shadow: 6px 6px 16px #F2F2F2;
}

#activity_iles
{
    border-radius: 25px;
    height: 190px;
    box-shadow: 6px 6px 16px #F2F2F2;
}

#activity_mini_block

{
    height: 230px;
    border-radius: 25px;
    box-shadow: 6px 6px 16px #F2F2F2;
}

/* Footer */

footer
{
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}